<ul class="nav nav-tabs nav-tabs1" >
   <li class=""><a href="#/" data-toggle="tab" >Tasks</a></li>
   <li class="active"><a href="#driver" data-toggle="tab" >Drivers</a></li>
   <li class="icon" style="position:absolute;right:0px;padding-right:0px;"><a href="driver" ><i class="fa fa-plus"  ></i></a></li>
</ul>
<div class="tab-content  tab-content-data" >
   <div id="driver" class="tab-pane fade in active"  >
      <!--<div class="panel" style="padding:0px;">
         <div class=" user-info"> 
         <div id="tableToExport" class="products-table table-responsive"  >
         <table class="table" class="table table-striped" id="exportthis" >
         
         <tbody >
         <tr  ng-repeat="values in driver.data.data  ">  
            <td class="text-left"><img class="" src="products/@{{values.photo}}" style="height:40px;width:40px" ng-hide="!values.photo"> <img class="img-responsive center-block" style="height:40px;width:40px;border-radius:50px;" src="../admin/assets/images/placeholder.jpg" ng-show="!values.photo"> </td>
         
            <td><a href="#" ><b>#{{values.user_id}}</b></a> - {{values.first_name}} {{values.last_name}} <br> {{values.phone}}</td> 
            <td class="text-right">{{values.created_at_formatted}}<br> Tasks</td> 
         </tr>
         </tbody>
         </table>
         </div>  
         </div>
         </div>-->
      <md-content style="background:#fff;height:650px;">
         <md-list>
            <md-list-item class="md-3-line"  ng-repeat="values in driver.data.data  ">
               <img ng-src="../admin/assets/images/placeholder.jpg" class="md-avatar" alt=" "  style="height:50px;width:50px">
               <div class="md-list-item-text">
                  <h4 style="font-size:15px;"><a href="driver-profile-grocery/{{values.user_id}}" > {{values.first_name}} {{values.last_name}} </a> </h4>
                  <p>{{values.phone}}</p>
               </div>
               <div class="md-secondary md-list-item-text">
                  <p  class="text-center" style="border-radius: 50px;  height: 30px;  width: 30px;  border: 1px solid rgba(0,0,0,0.12);  padding: 3px;margin:0px;color:#a1c6de"><b>{{values.total_tasks}}</b></p>
                  <p>Tasks</p>
               </div>
			   <div class="md-secondary md-list-item-text" style="padding:0 10px;"> 
				 <a href="driver-grocery/{{values.user_id}}"> <i class="fa fa-edit"></i></a>
				 </div>
               <md-divider  ng-if="!$last"></md-divider>
            </md-list-item>
         </md-list>
      </md-content>
   </div>
</div>