    <div class="row">
                                 <div class="col-sm-7" >
                                    <h2 class="header">Items</h2>
                                 </div>
                         <div class="col-sm-5 text-right">
                                   <div class="text-right">
                              <md-autocomplete  md-selected-item="store_title" md-search-text-change="searchFilterStoreChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedFilterStoreChange(store, field)" md-items="store in storeSearchFilter(searchText)" md-item-text="store.store_title" md-min-length="0" placeholder="Select Store" md-menu-class="autocomplete-custom-template"  md-autofocus=""  id="filter_store_id" style="min-width:100px;"> 
                      <md-item-template>
                        <span class="item-title"> 
                        <span> {{store.store_title}} </span> 
                        </span>
                        <span class="item-metadata">
                        <span> {{item.mobile}} </span>  
                        </span>
                      </md-item-template>
                      </md-autocomplete>
                        </div>
                                 </div> 
                              </div>
                              <div class="row" >
                                 <div class="col-sm-12"  >
<div class="row" >
   <div class="col-sm-8"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Active</a></li>
         <li class="active"><a href="#/inactive" data-toggle="tab" >Inactive</a></li>
      </ul>
	  </div>
	   <div class="col-sm-4"  > 
	  </div>
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/inactive" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >
                                            <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>ID</th>
                                                   <th>TITLE</th>
                                                   <th>PRICE</th>
                                                   <th>PHOTO</th>
												    <th>STATUS</th>
                                                   <th>CREATED</th>
                                                   <th>ACTIONS</th>
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in ctrl.products.data.data  "> 
                                                   <td><a href="item-grocery/{{values.item_id}}" ><b>#{{values.item_id}}</b></a> </td>
                                                   <td>{{values.item_title}}</td>
                                                   <td ><span ng-show='values.item_price > 0'><?php echo env("CURRENCY_SYMBOL", "");?>{{values.item_price}}</span></td>
                                                   <td>

                                                      <img class="center-block" src="../images/items/{{values.item_thumb_photo}}" style="height:40px;width:40px" ng-hide="!values.item_thumb_photo"> <img class="img-responsive center-block" style="height:40px;width:40px" src="<?php echo url('/').'/admin/assets/images/item-placeholder.png';?>" ng-show="!values.item_thumb_photo"> </td>

                                                    <td class="text-center" layout="row" layout-align="center center">   <md-switch class="text-center md-primary" ng-change="ctrl.switchStatus(values.item_active_status,values.item_id);" ng-model="values.item_active_status" value="{{values.item_active_status}}"  ng-true-value="'active' " ng-false-value="'inactive'">    </md-switch></td>
                                                   <td>{{values.created_at_formatted}}</td>
                                                   <td class="actions">
                                                      <a class="btn btn-xs edit-product" title="Edit" href="item-grocery/{{values.item_id}}" ><i class="fa fa-edit"></i></a>
                                                      <a class="btn btn-xs delete-product" title="Delete" ng-click="ctrl.deleteItem(values.item_id)"><i class="fa fa-trash"></i></a>
                                                      <!--  <a class="btn btn-xs edit-product" href="{{ URL::to('product_edit')}}/@{{values.id}}" ><img src="{{url::to('admin/images/edit.png')}} " style="height:16px;width:16px"/></a>
                                                         <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.id, $index)"><img src="{{url::to('admin/images/bin.png')}} " style="height:16px;width:13px"/></a>-->
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div> 
                                        <div class="pagination text-right" style="display:block" >
                                           <button class="btn" ng-show="ctrl.products.data.first_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.first_page_url);">First</button> 
                                           <button class="btn" ng-show="ctrl.products.data.prev_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.products.data.current_page}}</span>
                                          <button class="btn" ng-show="ctrl.products.data.next_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.next_page_url);">Next</button> 
                                          <button class="btn" ng-show="ctrl.products.data.last_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.last_page_url);">Last</button> 
                                       </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
                              </div>