<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" >
         <ul class="nav nav-tabs" >
            <li class="active"><a href="#/" data-toggle="tab">Profile</a></li>
            <li class=""><a href="#/basic-settings" data-toggle="tab">Basic Settings</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/" class="tab-pane fade in  active" >
               <div class="panel">
                  <div class="panel-body user-info">
                     <p>Name :  </p>
                     <p>Phone :  </p>
                     <p>Email :  </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>