<!--------------------------TAB hEADER STRATS HERE-------------------------------->
<ul class="nav nav-tabs" >
   <li class="active"><a href="#/" data-toggle="tab" >Tasks</a></li>
   <li class=""><a href="#driver" data-toggle="tab" >Drivers</a></li>
   <li class="container-2"> <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." ng-model='searchText'/> 
   </li>
</ul>
<!--------------------------TAB HEADER ENDS HERE-------------------------------->

<!--------------------------TAB CONTENT STRATS HERE-------------------------------->
<div class="tab-content  tab-content-data" >
   <div id="/" class="tab-pane fade in active"  >
      <div class=" user-info" ng-cloak>
         <md-content class=" ">
            <md-tabs    > 
			<!------------------------UNASSIGNED TASK SECTION STARTS HERE--------------------------->
               <md-tab id="tab2" ng-click="unassignedTask()" >
                  <md-tab-label>Unassigned</md-tab-label>
                  <md-tab-body >
				 <div  class="container-fluid" style="padding:10px 25px;background:#f5f5f5;">
				   
				    <div class="row" ng-repeat="values in unassigned.data.data | filter:searchText "  style="border:1px solid #e5e5e5;margin-bottom:10px;padding:8px 3px 0px;background:#fff;"> 
				  <div class="col-sm-4" style="padding-left:5px;padding-right:0px; ">
				 <h5 class="text-left text-uppercase" style="margin-top:0px ;background:#486490;color:#fff;padding:5px;font-family:'Open Sans',sans-serif;"><a href="order_detail-laundry/{{values.order_id}}" style="color:#fff;text-decoration:none;">Order #{{values.order_id}}</a></h5> 
				   </div>
				   <div class="col-sm-8" style="padding-right:7px">
				   <div style="display:flex;float:right" ng-hide="!values.driver_details[0].first_name"> 
				      <img class="" src="products/@{{values.photo}}" style="height:60px;width:60px;padding:12px;border-radius:50px;background:#466491!important;float:right"  ng-hide="!values.photo"> 
					  <div><a href="driver-profile-laundry/{{values.driver_id}}"><img class="img-responsive text-right" style="height:60px;width:60px;padding:12px;border-radius:50%;background:#466491!important;float:right" src="../admin/assets/images/boy.png" ng-hide="!values.driver_details[0].first_name"> </a>
					  
			            <md-tooltip
                          md-direction="left" style="background:#eaedf3;height:auto;padding:3px 5px 0;">
                              <span style="background:#fff; ">
				       <p  class="text-left" style="color:#466491;margin-bottom:0px; font-size:14px;">{{values.driver_details[0].first_name}}</p>
					   <p style="margin-bottom:0px;margin-top:0px;color:#a5a5a5;font-size:13px;"><small style="color:#a5a5a5;">{{values.driver_details[0].phone}}</small></p>
					   </span>
                       </md-tooltip> 
					  </div>
					 
					  
					  <a href="#" style="top: 60px;  position:absolute;  right: 7px;z-index:10;color:#466491"  >Re-assign</a> 
					  </div>
								 <p class="text-right" ng-show="!values.driver_details[0].first_name"style="margin:0px;"><md-button class="btn md-raised text-center" ng-click="getDriver(values)" style="padding:14px 8px 10px; border-radius:50%; font-size:12px;margin:0px;background:#466491!important; color:#A5B4C9;line-height:20px;min-height:60px;min-width:60px">Assign <br>Now</md-button></p> 
				  </div>
				  
				  
				   <div class="col-sm-12"> 
				   <ul class="StepProgress unassigned" style="margin-bottom:0px;bottom:20px; margin-left:15px; margin-bottom: -10px;">
                                    <li class="StepProgress-item-first StepProgress-item is-done">
									    <p class="time"> {{values.pickup_time}}</p>
                                       <p class="contact-title">{{values.pickup_contact_title}} </p>
                                       <p class="address">{{values.pickup_address}}</p>
                                    </li>
                                    <li class="StepProgress-item current">
									<p class="time"> {{values.dropoff_time}}</p>
                                       <strong class="contact-title">{{values.dropoff_contact_title}} </strong>
                                       <p ng-show="values.dropoff_address_string" class="address">{{values.dropoff_address_string}}</p>
									    <!-- <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_time == ''" /> -->
										  <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_contact_title == ''" />
										  <br ng-show="values.dropoff_contact_title == '' && values.dropoff_time == ''" />
                                    </li>
                                 </ul>
								 
								<img style="right: 6px; bottom: 8px;  width: 25px; position: absolute;" src="../admin/assets/images/corner-logistics.png">
								
								
				  <br ng-hide="values.dropoff_address_string || values.dropoff_time">
				  </div> 
				  </div>
				  
				  
				  <!--
				  <div class="row" ng-repeat="values in unassigned.data.data | filter:searchText "  style="border:1px solid #ccc;margin-bottom:10px;padding:12px 3px 8px;">
				  <div class="col-sm-4">
				  <h5 class="text-center" style="margin-top:0px ;"><a href="order_detail/{{values.order_id}}">Order #{{values.order_id}}</a></h5> 
				     <img class="" src="products/@{{values.photo}}" style="height:40px;width:40px" ng-hide="!values.photo"> <img class="img-responsive center-block" style="height:40px;width:40px;border-radius:50px;" src="../admin/assets/images/boy.png" ng-hide="!values.driver_details[0].first_name"> 
                                 <p ng-hide="!values.driver_details[0].first_name" class="text-center"><a href="driver-profile/{{values.driver_id}}">{{values.driver_details[0].first_name}}</a></p>
								 <p class="text-center" ng-show="!values.driver_details[0].first_name"><button class="btn bg-color" ng-click="getDriver(values)" style="padding: 6px 8px;">Assign <br>Driver</button></p>
				  </div>
				  
				   <div class="col-sm-8">
				   <ul class="StepProgress unassigned" >
                                    <li class="StepProgress-item-first StepProgress-item is-done">
									    <p class="time"> {{values.pickup_time}}</p>
                                       <p class="contact-title">{{values.pickup_contact_title}} </p>
                                       <p class="address">{{values.pickup_address}}</p>
                                    </li>
                                    <li class="StepProgress-item current">
									<p class="time"> {{values.dropoff_time}}</p>
                                       <strong class="contact-title">{{values.dropoff_contact_title}} </strong>
                                       <p  class="address">{{values.dropoff_address_string}}</p>
                                    </li>
                                 </ul>
				  </div>
				  
				   <!--<div class="col-sm-4">
				  <h5 class="text-center" style="margin-top:0px ;"><a href="order_detail/{{values.order_id}}">Order #{{values.order_id}}</a></h5> 
                                 <small style="background-color:#488de4;color:#fff;padding:5px;letter-spacing:0.5px;font-size:10px">UNASSIGNED</small> 
                                 <p class="text-center" style="color:#488de4;margin-top:5px;font-size:14px"> 0/2 Completed</p>
				  </div>--
				  </div>-->
				  </div>
                     
                  </md-tab-body>
               </md-tab>
			   <!------------------------UNASSIGNED TASK SECTION ENDS HERE--------------------------->
			   
			   <!------------------------ASSIGNED TASK SECTION STARTS HERE--------------------------->
               <md-tab id="tab1" ng-click="assignedTask()">
                  <md-tab-label>Assigned</md-tab-label>
                  <md-tab-body>
				   <div  class="container-fluid" style="padding:10px 25px;background:#f5f5f5;">
				   
				    <div class="row" ng-repeat="values in assigned.data.data | filter:searchText "  style="border:1px solid #e5e5e5;margin-bottom:10px;padding:8px 3px 0px;background:#fff;"> 
				  <div class="col-sm-4" style="padding-left:5px;padding-right:0px; ">
				 <h5 class="text-left text-uppercase" style="margin-top:0px ;background:#486490;color:#fff;padding:5px;font-family:'Open Sans',sans-serif;"><a href="order_detail-laundry/{{values.order_id}}" style="color:#fff;text-decoration:none;">Order #{{values.order_id}}</a></h5> 
				   </div>
				   <div class="col-sm-8" style="padding-right:7px">
				   <div style="display:flex;float:right" ng-hide="!values.driver_details[0].first_name"> 
				      <img class="" src="products/@{{values.photo}}" style="height:60px;width:60px;padding:12px;border-radius:50px;background:#466491!important;float:right"  ng-hide="!values.photo"> 
					  <div><a href="driver-profile-laundry/{{values.driver_id}}"><img class="img-responsive text-right" style="height:60px;width:60px;padding:12px;border-radius:50%;background:#466491!important;float:right" src="../admin/assets/images/boy.png" ng-hide="!values.driver_details[0].first_name"> </a>
					  
			            <md-tooltip
                          md-direction="left" style="background:#eaedf3;height:auto;padding:4px 6px;">
                              <span style="background:#fff; ">
				       <p  class="text-left" style="color:#466491;margin-bottom:0px; font-size:14px;"> {{values.driver_details[0].first_name}} </p>
					   <p style="margin-bottom:0px;margin-top:0px;color:#a5a5a5;font-size:13px;"><small style="color:#a5a5a5;">{{values.driver_details[0].phone}}</small></p>
					   </span>
                       </md-tooltip> 
					  </div>
					   <a href="#" style="top: 60px;  position:absolute;  right: 7px;z-index:10;color:#466491"  >Re-assign</a> 
					  </div>
								 <p class="text-right" ng-show="!values.driver_details[0].first_name" style="margin:0px;"><md-button class="btn md-raised text-center" ng-click="getDriver(values)" style="padding:14px 8px 10px; border-radius:50%; font-size:12px;margin:0px;background:#466491!important; color:#A5B4C9;line-height:20px;min-height:60px;min-width:60px">Assign <br>Now</md-button></p> 
				  </div>
				  
				  
				   <div class="col-sm-12"> 
				   <ul class="StepProgress " style="margin-bottom:0px;bottom:20px; margin-left:15px; margin-bottom: -10px;">
                                    <li class="StepProgress-item-first StepProgress-item is-done">
									<img style="left:-20px; top: 15px; z-index: 10;  width: 30px;  position: absolute;" src="../admin/assets/images/tick-logistics.png" ng-show="values.status == '2'">
									    <p class="time"> {{values.pickup_time}}</p>
                                       <p class="contact-title">{{values.pickup_contact_title}} </p>
                                       <p class="address">{{values.pickup_address}}</p>
                                    </li>
                                    <li class="StepProgress-item current">
									<p class="time"> {{values.dropoff_time}}</p>
                                       <strong class="contact-title">{{values.dropoff_contact_title}} </strong>
                                       <p  class="address">{{values.dropoff_address_string}}</p>
									     <!-- <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_time == ''" /> -->
										  <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_contact_title == ''" />
										  <br ng-show="values.dropoff_contact_title == '' && values.dropoff_time == ''" />
                                    </li>
                                 </ul>
								
								 <img style="right: 6px; bottom: 8px;  width: 25px; position: absolute;" src="../admin/assets/images/corner-logistics.png">
				 
				  </div> 
				  </div>
				  
				  
				  
				 
				  </div>
				   
                  </md-tab-body>
               </md-tab>
			   <!------------------------ASSIGNED TASK SECTION ENDS HERE--------------------------->
			    
			   <!------------------------COMPLETED TASK SECTION STARTS HERE--------------------------->
               <md-tab id="tab3" ng-click="completedTask()">
                  <md-tab-label>Completed</md-tab-label>
                  <md-tab-body>
				   <div  class="container-fluid" style="padding:10px 25px;background:#f5f5f5;">
				   
				    <div class="row" ng-repeat="values in completed.data.data | filter:searchText "  style="border:1px solid #e5e5e5;margin-bottom:10px;padding:8px 3px 0px;background:#fff;"> 
				  <div class="col-sm-4" style="padding-left:5px;padding-right:0px; ">
				 <h5 class="text-left text-uppercase" style="margin-top:0px ;background:#486490;color:#fff;padding:5px;font-family:'Open Sans',sans-serif;"><a href="order_detail-laundry/{{values.order_id}}" style="color:#fff;text-decoration:none;">Order #{{values.order_id}}</a></h5> 
				   </div>
				   <div class="col-sm-8" style="padding-right:7px">
				   <div style="display:flex;float:right" ng-hide="!values.driver_details[0].first_name">
				     <!--<span style="background:#eaedf3;color:#466491;height:max-content;padding:4px;margin-right:8px;margin-top:5px;">
				       <p  class="text-left" style="margin-bottom:0px;"><a href="driver-profile/{{values.driver_id}}">{{values.driver_details[0].first_name}}</a></p>
					   <p style="margin-bottom:0px;"><small style="color:#a5a5a5;">{{values.driver_details[0].phone}}</small></p>
					   </span>-->
				      <img class="" src="products/@{{values.photo}}" style="height:60px;width:60px;padding:12px;border-radius:50px;background:#466491!important;float:right"  ng-hide="!values.photo"> 
					  <div><a href="driver-profile-laundry/{{values.driver_id}}"><img class="img-responsive text-right" style="height:60px;width:60px;padding:12px;border-radius:50%;background:#466491!important;float:right" src="../admin/assets/images/boy.png" ng-hide="!values.driver_details[0].first_name"> </a>
					  
			            <md-tooltip
                          md-direction="left" style="background:#eaedf3;height:auto;padding:4px 6px;">
                              <span style="background:#fff; ">
				       <p  class="text-left" style="color:#466491;margin-bottom:0px; font-size:14px;"> {{values.driver_details[0].first_name}} </p>
					   <p style="margin-bottom:0px;margin-top:0px;color:#a5a5a5;font-size:13px;"><small style="color:#a5a5a5;">{{values.driver_details[0].phone}}</small></p>
					   </span>
                       </md-tooltip> 
					  </div>
					   <a href="#" style="top: 60px;  position:absolute;  right: 7px;z-index:10;color:#466491"  >Re-assign</a> 
					  </div>
								 <p class="text-right" ng-show="!values.driver_details[0].first_name" style="margin:0px;"><md-button class="btn md-raised text-center" ng-click="getDriver(values)" style="padding:14px 8px 10px; border-radius:50%; font-size:12px;margin:0px;background:#466491!important; color:#A5B4C9;line-height:20px;min-height:60px;min-width:60px">Assign <br>Now</md-button></p> 
				  </div>
				  
				  
				   <div class="col-sm-12">
				  <!-- <br ng-hide="!values.driver_details[0].first_name">-->
				   <ul class="StepProgress completed" style= "margin-bottom:0px;bottom:20px; margin-left:15px; margin-bottom: -10px;">
                                    <li class="StepProgress-item-first StepProgress-item is-done">
									 <img style="left: -20px; top: 15px; z-index: 10;  width: 30px;  position: absolute;" src="../admin/assets/images/tick-logistics.png">
									    <p class="time"> {{values.pickup_time}}</p>
                                       <p class="contact-title">{{values.pickup_contact_title}} </p>
                                       <p class="address">{{values.pickup_address}}</p>
                                    </li>
                                    <li class="StepProgress-item is-done StepProgress-item-last">
									 <img style="left:-20px; top: 15px; z-index: 10;  width: 30px;  position: absolute;" src="../admin/assets/images/tick-logistics.png">
									<p class="time"> {{values.dropoff_time}}</p>
                                       <strong class="contact-title">{{values.dropoff_contact_title}} </strong>
                                       <p  class="address">{{values.dropoff_address_string}}</p>
									     <!-- <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_time == ''" /> -->
										  <br ng-show="values.dropoff_address_string == ' ' && values.dropoff_contact_title == ''" />
										  <br ng-show="values.dropoff_contact_title == '' && values.dropoff_time == ''" />
                                    </li>
                                 </ul>
								 
								 <img style="right: 6px; bottom: 8px;  width: 25px; position: absolute;" src="../admin/assets/images/corner-logistics.png">
				  </div> 
				  </div>
				  
				    <!--<div class="row" ng-repeat="values in completed.data.data | filter:searchText "  style="border:1px solid #ccc;margin-bottom:10px;padding:12px 3px 8px;"> 
					
				  <div class="col-sm-4">
				  <h5 class="text-center" style="margin-top:0px ;"><a href="order_detail/{{values.order_id}}">Order #{{values.order_id}}</a></h5> 
				     <img class="" src="products/@{{values.photo}}" style="height:40px;width:40px" ng-hide="!values.photo"> <img class="img-responsive center-block" style="height:40px;width:40px;border-radius:50px;" src="../admin/assets/images/boy.png" ng-hide="!values.driver_details[0].first_name"> 
                                 <p ng-hide="!values.driver_details[0].first_name" class="text-center"><a href="driver-profile/{{values.driver_id}}">{{values.driver_details[0].first_name}}</a></p>
								 <p class="text-center" ng-show="!values.driver_details[0].first_name"><button class="btn bg-color" ng-click="getDriver(values)" style="padding: 6px 8px;">Assign <br>Driver</button></p>
				  </div>
				  
				   <div class="col-sm-8">
				   <ul class="StepProgress completed" >
                                    <li class="StepProgress-item-first StepProgress-item is-done">
									    <p class="time"> {{values.pickup_time}}</p>
                                       <p class="contact-title">{{values.pickup_contact_title}} </p>
                                       <p class="address">{{values.pickup_address}}</p>
                                    </li>
                                    <li class="StepProgress-item is-done StepProgress-item-last">
									<p class="time"> {{values.dropoff_time}}</p>
                                       <strong class="contact-title">{{values.dropoff_contact_title}} </strong>
                                       <p  class="address">{{values.dropoff_address_string}}</p>
                                    </li>
                                 </ul>
				  </div>
				  
				  </div>-->
				  </div>
                     
                  </md-tab-body>
               </md-tab>
			   <!------------------------COMPLETED TASK SECTION ENDS HERE--------------------------->
			   
            </md-tabs>
         </md-content>
      </div>
   </div>
</div>
<!--------------------------TAB cONTENT ENDS HERE-------------------------------->


	 <!-----------------------------------------------DRIVER ASSIGN MODAL STARTS HERE-------------------------------------------------------------------->
   <div id="driverModal" class="modal fade" data-backdrop="false" style="z-index:9999" role="dialog">
      <div class="modal-dialog modal-lg category-add"  >
         <!-- Modal content-->
         <div class="modal-content "   >
            <div class="modal-header  "  >
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title text-uppercase"  >Assign <b> Driver</b></h4>
            </div>
            <div class="modal-body "  >
               <div class="row"   > 
                  <div class="col-sm-7">
                     <h5>Select Driver</h5>
					   <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchDriverChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedDriverChange(data)" md-items="data in driverSearch(searchText)" md-item-text="data.first_name" md-min-length="0" placeholder="Select Driver"  md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title"> 
                                   <span> {{data.first_name}} </span> 
                             </span> 
                        </md-item-template>
                     </md-autocomplete>
						<input type="hidden" id="driver_id" name="driver_id" ng-model="driver_id" value="{{driver_id}}" />
                     <br><br><br><br> 
                     </div>
                      <div class="col-sm-5">					 
                     <md-button ng-click="assignDriver()" class="md-raised bg-color md-submit">Assign</md-button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <!-----------------------------------------------DRIVER ASSIGN MODAL ENDS HERE-------------------------------------------------------------------->